* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  margin-top: var(--header-height);
  background-color: var(--background);
}

@media (max-width: 480px) {
  :host {
    margin-bottom: var(--bottom-nav-height);
  }
}
