.svg-default {
  width: 24px;
  height: 24px;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: pointer;
}

.svg-default path {
  fill: var(--svg-background-color);
}
